@font-face {
  font-family: 'Questrial';
  src: url('./fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FredokaOne';
  src: url('./fonts/FredokaOne-Regular.ttf') format('truetype');
}


html {
  font-family: 'Questrial';
}

/* keep everything at full width and height */
html, body, #app, .WallpaperFetcher {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Vorfreude__countdown-message,
.CountdownTimer {
  color: #fff;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px, rgba(0, 0, 0, 0.25) 0px 6px 20px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.Vorfreude__countdown-message {
  font-size: 5vw;
  margin-tom: 0.1em;
}

.CountdownTimer {
  font-size: 4vw;
}

.WallpaperFetcher {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  z-index: -1;
}

.Settings {
  font-family: 'Helvetica';
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  min-width: 750px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Vorfreude__refresh-wallpaper,
.Settings__close,
.Vorfreude__show-settings {
  /* INITIAL OPACITY */
  opacity: 0.3;

  display: block;
  position: fixed;
  height: 2em;
  line-height: 2em;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.Vorfreude__refresh-wallpaper {
  top: 3vw;
  left: 3vw;
}

.Settings__close,
.Vorfreude__show-settings {
  top: 3vw;
  right: 3vw;
}
.Vorfreude__refresh-wallpaper:hover,
.Settings__close:hover,
.Vorfreude__show-settings:hover {
  /* HOVER OPACITY */
  opacity: 0.9;
}

.Vorfreude__refresh-wallpaper-symbol,
.Settings__close-symbol,
.Vorfreude__show-settings-symbol {
  position: relative;
  bottom: -2px;
}

.Settings__form > *:not(:first-child) {
  display: block;
  margin-top: 1rem;
}

.Settings input[type=text] {
  display: block;
  flex: none;
  width: 100%;
  max-width: 15rem;
}

@keyframes notification-in {
  from {
    top: -2em;
  }

  to {
    top: 1.5em;
  }
}

@keyframes notification-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#Settings__notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  padding: 0.5em;
  text-align: center;
  border-radius: 2em;
  border: 1px solid #3f777d;
  color: #3f777d;
  animation-name: notification-in, notification-out;
  animation-delay: 0ms, 3500ms;
  animation-duration: 250ms, 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.375);
}

.Settings__heading {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.Settings__note {
  display: block;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.Settings_date label {
  display: inline-flex;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-direction: column;
  align-items: center;
}

.Settings_date label:first-child {
  margin-left: 0;
}

.Settings_date input {
  margin-bottom: 0.5rem;
  width: 4em;
}
