@font-face {
  font-family: 'Questrial';
  src: url('./fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FredokaOne';
  src: url('./fonts/FredokaOne-Regular.ttf') format('truetype');
}


html {
  font-family: 'Questrial';
}

body {
  background: linear-gradient(to top, #5d4157, #a8caba);

  /* no scrollbars! */
  overflow: hidden;
}

/* keep everything at full width and height */
html, body, #app, .Wallpaper {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  user-select: none;

  /* add a generic transition to everything */
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0.9, 0.36, 0.99);
}

.Button {
  border: 1px solid #fff;
  font-size: 0.9rem;
  color: #fff;
  background-color: transparent;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0rem 1rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  animation-name: show;
  animation-delay: 300ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0,4, 0.885);
}

.Vorfreude__countdown-message,
.Vorfreude__all-done-message,
.CountdownTimer {
  color: #fff;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px, rgba(0, 0, 0, 0.25) 0px 6px 20px;
  padding-left: 2vw;
  padding-right: 2vw;

  opacity: 0;
  animation-name: show, small-slide-up;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0,4, 0.885);
}

.Vorfreude__countdown-message {
  font-size: 5vw;
  margin-top: 0.1em;
}

.Vorfreude__all-done-message {
  font-size: 6vw;
  margin-top: 0.1em;
}

.CountdownTimer {
  font-size: 4vw;
}

.Wallpaper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;

  transition-duration: 375ms, 325ms;
  transition-property: transform, filter;
  transition-timing-function: cubic-bezier(0.35, 0.25, 0.21, 0.96);
  transform: scale(1.02);
  will-change: transform, filter;
}

.Wallpaper__blurred {
  filter: blur(8px) brightness(0.5);
  transform: scale(1.08);
}

.Settings, .Settings input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0.085rem;
}

.Settings {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.Settings__close,
.Vorfreude__show-settings {
  /* INITIAL OPACITY */
  opacity: 0.75;

  display: block;
  position: fixed;
}

.Settings__close,
.Vorfreude__show-settings {
  top: 1.2rem;
  right: 1.2rem;
}

.Settings__close:hover,
.Vorfreude__show-settings:hover {
  /* HOVER OPACITY */
  opacity: 1;
}

.Settings__close-symbol,
.Vorfreude__show-settings-symbol {
  position: relative;
  bottom: -2px;
}

.Settings__form > *:not(:first-child) {
  margin-top: 2rem;
}

#Settings__notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  padding: 0.5em 0.75rem;
  text-align: center;
  border: 1px solid #fff;
  font-size: 1.25rem;
  border-radius: 2rem;
  color: #fff;
  animation-name: notification-in, hide;
  animation-delay: 0ms, 3500ms;
  animation-duration: 350ms, 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.375);
}

.Settings__validiation {
  align-self: flex-start;
  text-align: left;
  padding: 0.75rem 1rem;
  font-size: 1em;
  color: #da0000;
  background-color: white;
  border-radius: 2rem;
  margin-bottom: 3rem;
  align-self: center;
}

.Settings__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Settings__label-text {
  padding-right: 3rem;
  width: 15rem;
  font-size: 1.25rem;
}

.Settings__input-wrapper {
  margin-right: 1rem;
  width: 100%;
}

.Settings__input-wrapper--date {
  width: 8rem;
  margin-bottom: 2rem;
}

.Settings__input-wrapper input {
  background-color: transparent;
  color: #fff;
  border: none;
  width: calc(100% - 1.5rem);
  font-size: 1.5rem;
  padding-bottom: 20px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.Settings__input-line {
  height: 1px;
  margin-top: -10px;
  background-color: #fff;
}

.Settings__input-under-label {
  padding-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding-left: 0.75rem;
  font-weight: bold;
}

.LoveCanada {
  width: 4rem;
  bottom: 2rem;
  position: fixed;
}

.LoveCanada__image {
  max-width: 100%;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes notification-in {
  from {
    top: -2em;
  }

  to {
    top: 1.5em;
  }
}

@keyframes small-slide-up {
  from {
    transform: translateY(2rem);
  }

  to {
    transform: translateY(0);
  }
}
