:root {
  --neutral-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --wacky-font-family: 'FredokaOne';
  --clean-font-family: 'Questrial';
  --base-screen-proportional-font-size-desktop: 5vw;
  --base-screen-proportional-font-size-mobile: 10vw;
}

@font-face {
  font-family: 'Questrial';
  src: url('./fonts/Questrial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FredokaOne';
  src: url('./fonts/FredokaOne-Regular.ttf') format('truetype');
}


body {
  background: linear-gradient(to top, #5d4157, #a8caba);
  font-family: var(--clean-font-family);
}


body *:focus {
  outline-color: rgb(145, 147, 255);
}

/* keep everything at full width and height */
html, body, #app, .Wallpaper {
  width: 100%;
  height: 100%;
  margin: 0;
}


.Button {
  border: 1px solid #fff;
  font-size: 0.9rem;
  color: #fff;
  background-color: transparent;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0rem 1rem;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

.Button:hover {
  transform: scale(1.10);
  transform-origin: center;
}

.Button:active {
  transform: scale(1.05);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  animation-name: show;
  animation-delay: 300ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0,4, 0.885);
}

.Vorfreude__countdown-message,
.Vorfreude__all-done-message,
.CountdownTimer {
  user-select: none;
  -webkit-user-select: none;
  color: #fff;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px, rgba(0, 0, 0, 0.25) 0px 6px 20px;
  padding-left: 2vw;
  padding-right: 2vw;

  opacity: 0;
  animation-name: show, small-slide-up;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0,4, 0.885);
}

.Vorfreude__countdown-message, .Vorfreude__all-done-message {
  font-size: var(--base-screen-proportional-font-size-desktop);
  margin-top: 0.1em;
}

@media only screen and (max-width: 425px) {
  .Vorfreude__countdown-message, .Vorfreude__all-done-message {
    font-size: var(--base-screen-proportional-font-size-mobile);
    margin-bottom: 0.75rem;
  }
}

.CountdownTimer {
  font-size: calc(var(--base-screen-proportional-font-size-desktop) * 0.8);
}

@media only screen and (max-width: 425px) {
  .CountdownTimer {
    font-size: calc(var(--base-screen-proportional-font-size-mobile) * 0.85);
  }
}

.CountdownTimer__segment {
  display: inline-block;
}

@media only screen and (max-width: 425px) {
  .CountdownTimer__segment {
    display: block;
  }
}

@media only screen and (max-width: 425px) {
  .CountdownTimer__segment {
    display: block;
  }
}

.Wallpaper {
  z-index: -1;
  position: fixed;
  zoom: 1.1;
}

.Wallpaper__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-duration: 375ms, 325ms;
  transition-property: transform, filter;
  transition-timing-function: cubic-bezier(0.35, 0.25, 0.21, 0.96);
  transform: scale(1.02);
  will-change: transform, filter;
}

.Wallpaper__blurred-img {
  filter: blur(8px) brightness(0.5);
}

.Settings, .Settings input {
  font-family: var(--neutral-font-family);
  letter-spacing: 0.085rem;
}

.Settings {
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.Settings__close,
.Vorfreude__show-settings {
  /* INITIAL OPACITY */
  opacity: 0.75;

  display: block;
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 425px) {
  .Settings__close,
  .Vorfreude__show-settings {
    width: 25px;
    height: 25px;
  }
}

.Settings__close:hover,
.Vorfreude__show-settings:hover {
  /* HOVER OPACITY */
  opacity: 1;
}

.Settings__close-symbol,
.Vorfreude__show-settings-symbol {
  position: relative;
  bottom: -2px;
}

.Settings__form > *:not(:first-child) {
  margin-top: 2rem;
}

@media only screen and (max-width: 425px) {
  .Settings__form > *:not(:first-child) {
    margin-top: 1rem;
  }
}

#Settings__notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  padding: 0.5em 0.75rem;
  text-align: center;
  border: 1px solid #fff;
  font-family: var(--neutral-font-family);
  font-size: 1.25rem;
  border-radius: 2rem;
  color: #fff;
  animation-name: notification-in, hide;
  animation-delay: 0ms, 3500ms;
  animation-duration: 350ms, 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.375);
}

.Settings__validiation {
  align-self: flex-start;
  text-align: left;
  padding: 0.75rem 1rem;
  font-size: 1em;
  color: #da0000;
  background-color: white;
  border-radius: 2rem;
  margin-bottom: 3rem;
  align-self: center;
}

.Settings__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Settings__label-text {
  padding-right: 3rem;
  width: 15rem;
  font-size: 1.25rem;
}

.Settings__input-wrapper {
  margin-right: 1rem;
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .Settings__input-wrapper {
    margin-right: 2rem;
  }
}

.Settings__input-wrapper--date {
  width: 8rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 425px) {
  .Settings__input-wrapper--date {
    margin-bottom: 1rem;
  }
}

.Settings__input-wrapper input {
  background-color: transparent;
  color: #fff;
  border: none;
  width: calc(100% - 1.5rem);
  font-size: 1.5rem;
  padding-bottom: 20px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media only screen and (max-width: 425px) {
  .Settings__input-wrapper input {
    font-size: 1rem;
    width: calc(100% - 0.5rem);
    padding-bottom: 10px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.Settings__input-line {
  height: 1px;
  margin-top: -10px;
  background-color: #fff;
}

.Settings__input-under-label {
  padding-top: 0.5rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding-left: 0.75rem;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .Settings__input-under-label {
    font-size: 0.65rem;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
  }
}

.Love {
  position: fixed;
  bottom: 1.5rem;
}

@media only screen and (max-width: 425px) {
  .Love {
    right: 1.5rem;
  }
}

.Love a, .Love a:visited {
  color: #fff;
  font-size: 1.2rem;
  text-underline-offset: 2px;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes notification-in {
  from {
    top: -2em;
  }

  to {
    top: 1.5em;
  }
}

@keyframes small-slide-up {
  from {
    transform: translateY(2rem);
  }

  to {
    transform: translateY(0);
  }
}
