# svelte defaults
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/test-results/
/playwright-report/
/playwright/.cache/


## Chrome Extension Folder

# ignore everything except explicit symlinks
/chrome/*

# symlinks and static files
!/chrome/app
!/chrome/fonts
!/chrome/images
!/chrome/settings.html