<div class="WallpaperFetcher"></div>
{{!--
  to ensure that @tracked `didReceiveArgs` hack works
  and that it is called, it must be in the template :(

  TODO: Replace with `didUpdate`, which updates on args
  and @tracked.
--}}
{{didReceiveArgs}}
